<nav>
<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Filiais', subsidiaries_path %>
<%= link_to 'Categorias de Carro', car_categories_path %>
<%= link_to 'Modelos de Carro', car_models_path %>
<%= link_to 'Clientes', clients_path %>
<%= link_to 'Locação', rentals_path %>
<%= link_to 'Carros', cars_path %>
</nav>