<% if @client.errors.any?%>
 <p> Você deve resolver o seguinte:</p>
 <ul>
   <% @client.errors.full_messages.each do |message|%>
     <li> <%= message %></li>
    <% end %>
 </ul>
<% end %>


 <%= form_with model: @client, local: true do |f|%>
     <p><%= f.label :name, 'Nome'%>
     <%= f.text_field :name %></p>

     <p><%= f.label :document, 'CPF'%>
     <%= f.text_field :document %></p>
     
     <p><%= f.label :email %>
     <%= f.text_field :email %></p>
     
     <%= f.submit 'Enviar' %>
 <% end %>