<% if @subsidiary.errors.any? %>
   <p> Você deve resolver o seguinte: </p> 
   <ul>
     <% @subsidiary.errors.full_messages.each do |message|%>
     <li> <%= message %> </li>
    <% end %>
   </ul>
<% end %>
  
<%= form_with model:@subsidiary, local:true do |f| %>
    <p><%= f.label :name, 'Nome' %>
    <%= f.text_field :name %></p>

    <p><%= f.label :cnpj, 'CNPJ' %>
    <%= f.text_field :cnpj %></p>
    
    <p><%= f.label :address, 'Endereço' %>
    <%= f.text_field :address %></p>
    
    <%= f.submit 'Enviar' %>
<% end %>
