<h1>Rental Cars<h1>
<h3>Bem vindo ao sistema de gestão de locação</h3>

<p><%= link_to 'Fabricantes', manufacturers_path %></p>
<p><%= link_to 'Filiais', subsidiaries_path %></p>
<p><%= link_to 'Categorias de Carro', car_categories_path %></p>
<p><%= link_to 'Modelos de Carro', car_models_path %></p>
<p><%= link_to 'Clientes', clients_path %>
<p><%= link_to 'Locação', rentals_path %>