<h1> <%= @categoria.name %> </h1>
<h1> <%= @categoria.daily_rate %> </h1>
<h1> <%= @categoria.car_insurance %> </h1>
<h1> <%= @categoria.third_party_insurance %> </h1>
<%= link_to 'Voltar', root_path %